<div class="card">
    <div class="card-body">
        <h2>Cadastro de Reservas:</h2>
         <form action="/admin/reservas/novo" method="post">
            <label form="casa" class="mt-3">Cadastro de reserva:</label>
            <select name="casa" class="custom-select">         
                {{#each casas}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma hospedagem registrada</option>
                {{/each}}
            </select>
            <label form="cliente" class="mt-3">Cliente:</label>
            <select name="cliente" class="custom-select">
                {{#each clientes}}
                    <option value="{{_id}}">{{nome}} / Fone : {{telefone}}</option>
                {{else}}
                    <option value="0">Nenhuma cliente registrado</option>
                {{/each}}
            </select>
            <label for="entrada" class="mt-3">Check in:</label>
            <input type="text", id="entrada" name="entrada" placeholder="dd/mm/aaaa" class="form-control" required>
            <label for="saida" class="mt-3">Check out:</label>
            <input type="text", id="saida" name="saida" placeholder="dd/mm/aaaa" class="form-control" required>
            <label for="hospedes" class="mt-3">Número Hospedes:</label>
            <input type="number" name="hospedes" id="hospedes" placeholder="0" class="form-control" required>
            <label for="desconto" class="mt-3">Desconto:</label>
            <input type="text" name="desconto" class="form-control" onkeyup="maskIt(this,event,'###.###.###,##',true,{pre:'R$'})" value="00,00"/>
            <button type="submit" class="btn btn-success mt-2">Confirmar</button>
        </form>
    </div>
</div>