<hr class="mt-4">
<h2>Reserva:</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Hospedagem</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída</th>
      <th scope="col">Diaria</th>
      <th scope="col">Qtde dias</th> 
      <th scope="col">Hospedes</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Desconto</th>
      <th scope="col">Total</th>
 
    </tr>
  </thead>
  <tbody>
        <tr>
        <td>{{novaReserva.nomeCliente}}</td>
        <td>{{novaReserva.nomeCasa}}</td>
        <td>{{novaReserva.entrada}}</td>
        <td>{{novaReserva.saida}}</td>
        <td>{{novaReserva.valor_diaria}}</td>
        <td>{{novaReserva.dias}}</td>
        <td>{{novaReserva.hospedes}}</td>
        <td>{{novaReserva.subtotal}}</td>
        <td>{{novaReserva.desconto}}</td>
        <td>{{novaReserva.saldo}}</td>
        <td>
            <a href="/admin/reservaconfirmada">
              <button class="btn btn-primary btn-sm mt-2">confirmar</button>
            </a>
        </td>
        </tr>
  </tbody>
</table>