<hr class="mt-4">
<h2>Reserva:</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Hospedagem</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída</th>
      <th scope="col">Diaria</th>
      <th scope="col">Qtde dias</th> 
      <th scope="col">Hospedes</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Desconto</th>
      <th scope="col">Total</th>
 
    </tr>
  </thead>
  <tbody>
        <tr>
        <td>{{novaReserva.nomeCliente}}</td>
        <td>{{novaReserva.nomeCasa}}</td>
        <td>{{novaReserva.entrada}}</td>
        <td>{{novaReserva.saida}}</td>
        <td>{{novaReserva.valor_diaria}}</td>
        <td>{{novaReserva.dias}}</td>
        <td>{{novaReserva.hospedes}}</td>
        <td>{{novaReserva.subtotal}}</td>
        <td>{{novaReserva.desconto}}</td>
        <td>{{novaReserva.saldo}}</td>
        <td>
            <a href="/admin/reservas/add"><button class="btn btn-primary btn-sm mt-2">editar</button></a>
            <form action="/admin/reservas/confirma" method="POST">
                <input type="hidden" name="casa" value="{{novaReserva.casa}}">
                <input type="hidden" name="mes" value="{{novaReserva.mes}}">
                <input type="hidden" name="ano" value="{{novaReserva.ano}}">
                <input type="hidden" name="entrada" value="{{novaReserva.entrada}}">
                <input type="hidden" name="saida" value="{{novaReserva.saida}}">
                <input type="hidden" name="diaria" value="{{novaReserva.valor_diaria}}">
                <input type="hidden" name="dias" value="{{novaReserva.dias}}">
                <input type="hidden" name="hospedes" value="{{novaReserva.hospedes}}">
                <input type="hidden" name="desconto" value="{{novaReserva.desconto}}">
                <input type="hidden" name="saldo" value="{{novaReserva.saldo}}">
                <input type="hidden" name="cliente" value="{{novaReserva.cliente}}">
                <input type="hidden" name="subtotal" value="{{novaReserva.subtotal}}">
                <button type="submit" class="btn btn-primary btn-sm mt-2">confirmar</button>
            </form>
        </td>
        </tr>
  </tbody>
</table>