<h2>Hospedagens:</h2>

<hr class="mt-4">
<h2>Lista de Hospedagens:</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Max Hospedes</th>
      <th scope="col">Diária</th>
      <th scope="col">Hospede Extra</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
        {{#each casa}}
        <tr>
        <td>{{nome}}</td>
        <td>{{maxhospedes}}</td>
        <td>{{diaria}},00</td>
        <td>{{hospedeextra}},00</td>
        <td>
            <a href="/admin/casas/edit/{{_id}}"><button class="btn btn-primary btn-sm mt-2">editar</button></a>
            <form action="/admin/casas/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-secondary btn-sm mt-2">deletar</button>
            </form>
        </td>
        </tr>
        {{else}}
            <p>Nenhuma reserva registrada.</p>
        {{/each}}
  </tbody>
</table>

<hr>
<a href="/admin/casas/add"><button class="btn btn-success">Nova Hospedagem</button></a>
<br>
<br>