<hr class="mt-4">
<h2>Lista de Pesquisa</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">telefone</th>
      <th scope="col">Cidade</th>
      <th scope="col">Nasc.</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
        {{#each cliente}}
        <tr>
        <td>{{nome}}</td>
        <td>{{telefone}}</td>
        <td>{{cidade}}</td>
        <td>{{nascimento}}</td>
        <td>
            <a href="/admin/clientes/edit/{{_id}}"><button class="btn btn-primary btn-sm mt-2">editar</button></a>
            <form action="/admin/clientes/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-secondary btn-sm mt-2">deletar</button>
            </form>
        </td>
        </tr>
        {{else}}
            <p>Nenhuma reserva registrada.</p>
        {{/each}}
  </tbody>
</table>
<a href="/admin/clientes/consulta"><button class="btn btn-success">Nova Consulta</button></a>