<hr class="mt-4">
<h2 class="text-center">Reservas</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Hospedagem</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída</th>
      <th scope="col">Hospedes</th>
      <th scope="col">Diaria</th>
      <th scope="col">Qtde dias</th>
      <th scope="col">SubTotal</th>
      <th scope="col">Desc.</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
        {{#each reserva}}
        <tr>
        <td>{{cliente.nome}}</td>
        <td>{{casa.nome}}</td>
        <td>{{entrada}}</td>
        <td>{{saida}}</td>
        <td>{{hospedes}}</td>
        <td>{{valor_diaria}}</td>
        <td>{{dias}}</td>
        <td>{{subtotal}}</td>
        <td>{{desconto}}</td>
        <td>{{saldo}}</td>
        </tr>
        {{else}}
            <p>Nenhuma reserva registrada.</p>
        {{/each}}
        <td><h4>Total</h4></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{retorno.dias}}</td>
        <td>{{retorno.subtotal}}</td>
        <td>{{retorno.desconto}}</td>
        <td>{{retorno.soma}}</td>
  </tbody>
</table>
<br>
<br>

<hr class="mt-4">
<h2 class="text-center">Custos</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Data</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
        {{#each custos}}
        <tr>
        <td>{{nome}}</td>
        <td>{{dia}}</td>
        <td>{{valor}}</td>
        </tr>
        {{else}}
            <p>Nenhum custo registrado.</p>
        {{/each}}
        <td><h4>Total</h4></td>
        <td></td>
        <td>{{retornoCusto}}</td>
  </tbody>
</table>
<br>
<br>
<hr class="mt-4">
<h2 class="text-center">Balanço</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Custo Operacional</th>
      <th scope="col">Lucro Bruto</th>
      <th scope="col">Lucro Líquido</th>
    </tr>
  </thead>
  <tbody>
        <td><h4>Total</h4></td>
        <td>{{retornoCusto}}</td>
        <td>{{retorno.soma}}</td>
        <td>{{lucro}}</td>
  </tbody>
</table>
<a href="/custos"><button class="btn btn-success mt-2">voltar</button></a><br>
<br>
<br>