<hr class="mt-4">
<h2>Lista de Reservas</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Hospedagem</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída</th>
      <th scope="col">Hospedes</th>
      <th scope="col">Diaria</th>
      <th scope="col">Qtde dias</th>
      <th scope="col">SubTotal</th>
      <th scope="col">Desc.</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
        {{#each reserva}}
        <tr>
        <td>{{cliente.nome}}</td>
        <td>{{casa.nome}}</td>
        <td>{{entrada}}</td>
        <td>{{saida}}</td>
        <td>{{hospedes}}</td>
        <td>{{valor_diaria}}</td>
        <td>{{dias}}</td>
        <td>{{subtotal}}</td>
        <td>{{desconto}}</td>
        <td>{{saldo}}</td>
        </tr>
        {{else}}
            <p>Nenhuma reserva registrada.</p>
        {{/each}}
        <td><h4>Total</h4></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{dias}}</td>
        <td>{{subtotal}}</td>
        <td>{{desconto}}</td>
        <td>{{soma}}</td>
  </tbody>
</table>
<br>
<br>

<hr class="mt-4">
<h2>Lista de Custos</h2>
<table class="table table-sm text-center">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Data</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
        {{#each custos}}
        <tr>
        <td>{{custos.nome}}</td>
        <td>{{custos.dia}}</td>
        <td>{{custos.valor}}</td>
        </tr>
        {{else}}
            <p>Nenhuma reserva registrada.</p>
        {{/each}}
        <td><h4>Total</h4></td>
        <td></td>
        <td>{{desconto}}</td>
        <td>{{soma}}</td>
  </tbody>
</table>
<br>
<br>